.fixed-bottom-right {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
}

.fixed-bottom-right-2 {
    position: fixed;
    bottom: 40px; 
    right: 80px; 
    z-index: 1000; 
}